<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="static/css/bootstrap.css">
        <style>
            .robot {
                width: 800px;
                height: 400px;
            }
            td {
                border: 1px solid #CCF;
            }
            th {
                text-align: center;
                border: 1px solid #CCF;
                background: #EEF;
            }
        </style>
    </head>
    <body ng-app="RobotApp" ng-controller="RobotController">
        <table class="robot table">
            <tbody>
                <tr>
                    <th colspan=4>Arm</th>
                </tr>
                <tr>
                    <td colspan=4>
                        <table>
                            <tr>
                                <th>Gripper</th>
                                <th>Syringe</th>
                            </tr>
                            <tr>
                                <td>{{robot.arm.gripper.contents}}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <th>Primed</th>
                                            <th>Washed</th>
                                            <th>Blown Off</th>
                                            <th>Contents</th>
                                        </tr>
                                        <tr>
                                            <td>{{robot.arm.syringe.is_primed}}</td>
                                            <td>{{robot.arm.syringe.is_washed}}</td>
                                            <td>{{robot.arm.syringe.is_blown_off}}</td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <th>type</th>
                                                        <th>vol in ml</th>
                                                    </tr>
                                                    <tr ng-repeat="(name, vol) in robot.arm.syringe.contents">
                                                        <td>{{name}}</td>
                                                        <td>{{vol}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                            <tr><th>Vortexer</th></tr>
                            <tr><td>{{robot.vortexer.contents}}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <th ng-repeat="rack in robot.racks">
                                    {{rack.container_type}}
                                </th>
                            </tr>
                            <tr>
                                <td ng-repeat="rack in robot.racks">
                                    <table>
                                        <tr ng-repeat="row in rack.containers">
                                            <td ng-repeat="container in row">
                                                <table ng-if="container.contents">
                                                    <tr>
                                                        <th colspan=2>{{container.barcode}}</th>
                                                    </tr>
                                                    <tr ng-repeat="(name, vol) in container.contents">
                                                        <td>
                                                            {{ name }}
                                                        </td>
                                                        <td>
                                                            {{ vol }}
                                                        </td>
                                                    </tr>
                                                </table>
                                                <span ng-if="!container.contents">Empty</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <tr><th>Capper</th></tr>
                            <tr><td>{{robot._capper._contents}}</td></tr>
                        </table>
                        <table class="table">
                            <tr><th>Reader</th></tr>
                            <tr><td>{{robot._reader._contents}}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <tr><th>Balance</th></tr>
                            <tr><td>{{robot._balance._contents}}</td></tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-sm" ng-click="run_wt_wt()">Run Weight Weight</button>
            <button class="btn btn-sm" ng-click="weigh()">Weigh</button>
            <button class="btn btn-sm" ng-click="transfer()">Transfer</button>
            <button class="btn btn-sm" ng-click="prime()">Prime</button>
            <button class="btn btn-sm" ng-click="wash_tip()">Wash Tip</button>
            <button class="btn btn-sm" ng-click="blow_off()">Blow Off</button>
            <button class="btn btn-sm" ng-click="vortex()">Vortex</button>
            <button class="btn btn-sm" ng-click="cap()">Cap</button>
            <button class="btn btn-sm" ng-click="uncap()">Uncap</button>
            <button class="btn btn-sm" ng-click="aspirate()">Aspirate</button>
            <button class="btn btn-sm" ng-click="dispense()">Dispense</button>
            <button class="btn btn-sm" ng-click="reset()">Reset</button>
        </div>
    </body>
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/angular.js"></script>
    <script src="static/js/angular-route.js"></script>
    <script src="static/js/angular-resource.js"></script>
    <script>

    var RobotApp = angular.module(
        'RobotApp',
        ['ngResource', 'ngRoute']
    );

    RobotApp.config(function ($routeProvider) {
        $routeProvider.when('/home',
        {
            controller: 'RobotController',
            templateUrl: '/static/html/index.html'
        }).otherwise({redirectTo: '/home'})
    });

    RobotApp.controller(
    'RobotController', ['$scope', 'Robot', function($scope, Robot) {

            task = {
                prime: {
                    name: 'prime',
                    inputs: null
                },
                blow_off: {
                    name: 'blow_off',
                    inputs: null
                },
                wash_tip: {
                    name: 'wash_tip',
                    inputs: null
                }
            };

            Robot.get(function(response) {
                $scope.robot = response;
            });

            $scope.reset = function() {
                Robot.reset(function(response) {
                    $scope.robot = response;
                });
            };

            $scope.run_wt_wt = function() {
                Robot.run_wt_wt(function(response) {
                    $scope.robot = response;
                });
            };

            $scope.execute_task = function(task) {
                Robot.reset(function(response) {
                        $scope.robot = response;
                    },
                    function(response) {
                        alert(response.data.message);
                    }
                );
            };

            $scope.prime = function() {
                Robot.task(
                    task.prime,
                    function(response) {
                        $scope.robot = response;
                    },
                    function(response) {
                        alert(response.data.message);
                    }
                )
            };

            $scope.wash_tip = function() {
                Robot.task(
                    task.wash_tip,
                    function(response) {
                        $scope.robot = response;
                    },
                    function(response) {
                        alert(response.data.message);
                    }
                )
            };

            $scope.blow_off = function() {
                Robot.task(
                    task.blow_off,
                    function(response) {
                        $scope.robot = response;
                    },
                    function(response) {
                        alert(response.data.message);
                    }
                )
            };

        }]
    );

    RobotApp.factory('Robot', function($resource) {
        return $resource(
        '/robot/:customAction/',
        {customAction: '@customAction'},
        {
            reset: {
                method: 'POST',
                isArray: false,
                params: {
                    customAction: 'reset'
                }
            },
            run_wt_wt: {
                method: 'POST',
                isArray: false,
                params: {
                    customAction: 'run_wt_wt'
                }
            },
            task: {
                method: 'POST',
                isArray: false,
                params: {
                    customAction: 'task'
                }
            }
        }
        );
    });

/*
        robot = {
            get_samples: function() {
                $.ajax({
                    method: "POST",
                    url: 'task',
                    data: JSON.stringify({name: 'get_samples', inputs: {num_samples: 10}}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(response) {location.reload()},
                    error: function(data) {
                        alert(data.responseJSON.message);
                    },
                    processData: false
                });
            },
            prime: function() {
                $.ajax({
                    method: "POST",
                    url: 'task',
                    data: JSON.stringify({name: 'prime', inputs: []}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(response) {location.reload()},
                    error: function(data) {
                        alert(data.responseJSON.message);
                    },
                    processData: false
                });
            },
            wash_tip: function() {
                $.ajax({
                    method: "POST",
                    url: 'task',
                    data: JSON.stringify({name: 'wash_tip', inputs: []}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(response) {location.reload()},
                    error: function(data) {
                        alert(data.responseJSON.message);
                    },
                    processData: false
                });
            },
            blow_off: function() {
                $.ajax({
                    method: "POST",
                    url: 'task',
                    data: JSON.stringify({name: 'blow_off', inputs: []}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(response) {location.reload()},
                    error: function(data) {
                        alert(data.responseJSON.message);
                    },
                    processData: true
                });
            },

            weigh: function() {
                $.ajax({
                    method: "POST",
                    url: 'task',
                    data: JSON.stringify({name: 'weigh', inputs: {container: 1}}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(response) {location.reload()},
                    error: function(data) {
                        alert(data.responseJSON.message);
                    },
                    processData: false
                });
            }

        }
        function reset() {
            $.ajax({
                method: "POST",
                url: 'reset',
                success: function(response) {location.reload()},
                processData: false
            });
        }
        */
    </script>
</html>
